@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<script src="~/lib/crosswordAnswers.js"></script>

<div class="crosswordMain">
       
        <h2>Crossword</h2>
        
        <div class="question1">
            <p>1. B kakoM roDy no9BuJIc9 ku6epcnopT?</p>
            <input name="r1" type="radio" value="1992"> 1992<br>
            <input name="r1" type="radio" value="1996"> 1996<br>
            <input name="r1" type="radio" value="2003"> 2003<br>
            <input name="r1" type="radio" value="1944"> 1944<br>
        </div>
    
        <div class="question2">
            <p>2. What CPL stands for?</p>
            <input name="r2" type="radio" value="CyberathleteProfessionalLeague"> Cyberathlete Professional League<br>
            <input name="r2" type="radio" value="ChildrenPlayLoto"> Children Play Loto<br>
            <input name="r2" type="radio" value="CharmingPinkLotus"> Charming Pink Lotus<br>
            <input name="r2" type="radio" value="CreativelyPopularLottery"> Creatively Popular Lottery<br>
        </div>

        <div class="question3">
            <p>3. How many games are in list?</p>
            <input name="r3" type="radio" value="12"> 12<br>
            <input name="r3" type="radio" value="14"> 14<br>
            <input name="r3" type="radio" value="13"> 13<br>
            <input name="r3" type="radio" value="11"> 11<br>
        </div>

        <div class="question4">
            <p>4. Which of this games are in list?</p>
            <input name="c1" type="checkbox" value="hearthstone" id="hs"> Hearthstone<br>
            <input name="c1" type="checkbox" value="cod4mw"id="cod4mw"> Call of Duty 4: Modern Warfare<br>
            <input name="c1" type="checkbox" value="phasmaphobia" id="phasma"> Phasmaphobia<br>
            <input name="c1" type="checkbox" value="codwz" id="wz"> Call of Duty: Warzone<br>
        </div>

        <div class="question5">
            <p>5. What was the money bank of The International 10?</p>
            <input name="r4" type="radio" value="30"> 30 000 000 $<br>
            <input name="r4" type="radio" value="1"> 1 600 000 $<br>
            <input name="r4" type="radio" value="53"> 53 000 000 $<br>
            <input name="r4" type="radio" value="42"> 42 000 000 $<br>
        </div>

        <div class="question6">
            <p>6. What is the most major tornament?</p>
            <input name="r5" type="radio" value="dota"> Dota 2 - The International<br>
            <input name="r5" type="radio" value="csgo"> CS:GO - ESL Pro League<br>
            <input name="r5" type="radio" value="overwatch"> Overwatch - Countdown Cup<br>
            <input name="r5" type="radio" value="valorant"> Valorant - Red Bull Cup<br>
        </div>

        <div class="question7">
            <p>7. Which game has the highest amount of viewers on Twitch?</p>
            <input name="r6" type="radio" value="csgo"> CS:GO<br>
            <input name="r6" type="radio" value="ovewatch"> Overwatch<br>
            <input name="r6" type="radio" value="lol"> League of Legends<br>
            <input name="r6" type="radio" value="dota"> Dota 2<br>
        </div>

        <div class="question8">
            <p>8. Who took the first place and won The International 10?</p>
            <input name="r7" type="radio" value="TeamSecret"> Team Secret<br>
            <input name="r7" type="radio" value="PSG"> PSG.LGD<br>
            <input name="r7" type="radio" value="TeamSpirit"> Team Spirit<br>
            <input name="r7" type="radio" value="IG"> Invictus Gaming<br>
        </div>

        <div class="question9">
            <p>9. Who took the second place on The International 10?</p>
            <input name="r8" type="radio" value="TeamSecret"> Team Secret<br>
            <input name="r8" type="radio" value="PSG"> PSG.LGD<br>
            <input name="r8" type="radio" value="TeamSpirit"> Team Spirit<br>
            <input name="r8" type="radio" value="IG"> Invictus Gaming<br>
        </div>

        <div class="question10">
            <p>10. What are the upcoming tournaments?</p>
            <input name="c2" type="checkbox" value="dota" id="dota"> Dota 2 - The International 9<br>
            <input name="c2" type="checkbox" value="csgo" id="csgo"> CS:GO - ESL Pro League<br>
            <input name="c2" type="checkbox" value="cod4" id="mw"> Call of Duty 4: Modern Warfare - Nations Cup<br>
            <input name="c2" type="checkbox" value="valorant" id="valorant"> Valorant - Valorant Conquerors Championship<br>
        </div>
        
        <div class="submitButt">
            <input name="subm" type="submit" onclick="calculateAll()" value="submit">
        </div>
        
    </div>