@{
    ViewData["Title"] = "Cybersport History";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
 <div class="mainCSHistory">
       <h2>The History of Cybersport</h2>
       <div class="theStory">
           <p><i>The history of Cybersport</i> begins at 1996 when EVO was found and organised Street Fighter II tournament. One year later CPL (Cyberathlete Professional League) was found and organised first tournament in Quake. So begins the era of LANs and cybersport competitions.</p>
           <p>Russia was the first country to admit cybersport as oficial sport. In 2015 ESforce was found and has become the largest cybersport organization in Russia and CIS. The organization Virtus.pro holds ESforce. The largest tournaments in Russia such as EPICENTER and others are being organized by ESforce.</p>
           <p>Cybersport has worldwide influence and the international tournament World Cyber Games is being compared to Olympic games. Except WCG,
               Cyberathlete Professional League and Electronic Sports Games are being held tournaments regularly. Besides the torunaments with money prize there are lots of leagues that organise online competitions and ladders. Nowdays the major and prestigious tournaments are being held by the game creating companies such as EA, Valve, Blizzard Entertainment etc. The largest tournaments with huge money prize are The International in Dota 2 and The World Championship  in League of Legends. The TI's 10 money bank was 42 000 000 $ dollars and Team Spirit is the team that took the first place and gained 21 500 000 $ for team and wrote their name not only in-game aegis but in Russian and Worldwide history of cybersport.</p>
       </div>
 </div>
</body>
</html>
