<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
     <div class="gamesMain">
       <h2>Games</h2>
       <div class="listOfGames">
            <ul>
                <li><a href="https://ru.wikipedia.org/wiki/Dota_2" target="_blank"><img src="img/dota2Preview.jpg" alt="">Dota 2</a></li>
                <li><a href="https://ru.wikipedia.org/wiki/Counter-Strike:_Global_Offensive" target="_blank"><img src="img/csgoPreview.jpg" alt="">CS: GO</a></li>
                <li><a href="https://ru.wikipedia.org/wiki/Tom_Clancy%E2%80%99s_Rainbow_Six" target="_blank"><img src="img/rainbowPreview.jpg" alt="">Rainbow Six: Siege</a></li>
                <li><a href="https://ru.wikipedia.org/wiki/PlayerUnknown%E2%80%99s_Battlegrounds" target="_blank"><img src="img/pubgPreview.jpg" alt="">PUBG</a></li>
                <li><a href="https://ru.wikipedia.org/wiki/Valorant" target="_blank"><img src="img/valorantPreview.jpg" alt="">Valorant</a></li>
                <li><a href="https://ru.wikipedia.org/wiki/Overwatch" target="_blank"><img src="img/overwatchPreview.jpg" alt="">Overwatch</a></li>
                <li><a href="https://ru.wikipedia.org/wiki/Fortnite" target="_blank"><img src="img/fortnitePreview.jpg" alt="">Fortnite</a></li>
                <li><a href="https://ru.wikipedia.org/wiki/Apex_Legends" target="_blank"><img src="img/apexPreview.jpg" alt="">Apex Legends</a></li>
                <li><a href="https://ru.wikipedia.org/wiki/Hearthstone" target="_blank"><img src="img/hearthstonePreview.jpg" alt="">Hearthstone</a></li>
                <li><a href="https://ru.wikipedia.org/wiki/Rocket_League" target="_blank"><img src="img/rocketLeaguePreview.jpg" alt="">Rocket League</a></li>
                <li><a href="https://ru.wikipedia.org/wiki/Call_of_Duty:_Warzone" target="_blank"><img src="img/warzonePreview.jpg" alt="">Call of Duty: Warzone</a></li>
                <li><a href="https://ru.wikipedia.org/wiki/League_of_Legends" target="_blank"><img src="img/lolPreview.jpg" alt="">League of Legends</a></li>
            </ul>
       </div>
    </div>
    <div>
    </div>
</body>
</html>
