@{
    ViewData["Title"] = "Main Page";
    
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="main">
        <div class="copyright">
            <p>Copyright © 2021 Blokhin Valentin. Design by stfu noname</p>
        </div>
    </div>
</body>
</html>
