@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="tournamentsMain">
       
        <h2>Tournaments</h2>
        
        <div class="live">
            <details>
                <summary>Live</summary>
                <p>example</p>
                <p>example</p>
                <p>example</p>
                <p>example</p>
                <p>example</p>
            </details>
        </div>
        
        <div class="upcoming">
            <details>
                <summary>Upcoming</summary>
                <p>CSGO - ESL Pro League - 1 000 000 $</p>
                <p>Dota 2 - The International 10 - 42 000 000 $</p>
                <p>Valorant - dasfksajklfa - 100 000 $</p>
                <p>Hearthstone - fasfjasfas - 500 000 $</p>
                <p>Apex Legends - safaskfasjk - 100 000 $</p>
            </details>
        </div>
        
        <div class="recent">
            <details>
                <summary>Recent</summary>
                <p>example</p>
                <p>example</p>
                <p>example</p>
                <p>example</p>
                <p>example</p>
            </details>
        </div>
        
    </div>